# Игнорировать папки конфигурации Visual Studio
.vs/
.vscode/
.idea/

# Игнорировать выходные папки
bin/
obj/

# Игнорировать файлы конфигурации пользователя
*.suo
*.user
*.userosscache
*.sln.docstates

# Логи
*.log
